# ==============================================================================
# PiShield BMS Integration - Configuration Environment Variables
# ==============================================================================

# Porta seriale di comunicazione con Arduino Nano
SERIAL_PORT=/dev/ttyUSB0
BAUDRATE=115200

# File di log e filtro
LOGFILE=/var/log/pishield_bms.log
SUFFIX_FILTER=LOG

# Configurazione Broker MQTT
MQTT_HOST=localhost
MQTT_PORT=8883
MQTT_USER=
MQTT_PASSWORD=
MQTT_TLS=false
MQTT_CA_CERTS=
